@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* 
font-family: 'Cinzel', serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Open Sans', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
beige-button, header .nav__list--rigth button {
  padding: 15px 25px; /*warning, different in the last section */
  background-color: #c8a96a;
  border-radius: 5px;
  border: solid 1px transparent;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
}
beige-button i, header .nav__list--rigth button i {
  margin-left: 5px;
}
beige-button:hover, header .nav__list--rigth button:hover {
  background-color: transparent;
  border: solid 1px #1f1f1f;
  /*color: $color; -> can be different */
}

transparent-button, button, header button {
  padding: 15px 25px;
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px rgb(48, 48, 48);
  color: #1f1f1f;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
}
transparent-button i, button i, header button i {
  margin-left: 5px;
}
transparent-button:hover, button:hover, header button:hover {
  background-color: #c8a96a;
  border: solid 1px transparent;
  color: #fff;
}

header {
  margin: 0%;
}

header {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../assets/img/slider/img_bg_slider_home01.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  min-height: 65em;
}
header .menu-toggle {
  display: none;
}
header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header .nav__list--left {
  display: flex;
  align-items: center;
  margin-top: 2%;
}
header .nav__list--left .nav__logo {
  width: 10rem;
  margin-right: 2vw;
  margin-left: 3rem;
}
header .nav__list--left ul {
  display: flex;
  list-style: none;
}
header .nav__list--left ul li {
  margin-right: 2.5rem;
  cursor: pointer;
}
header .nav__list--left ul li:hover {
  color: #c8a96a;
}
header .nav__list--left ul li i {
  margin-left: 0.5rem;
}
header .nav__list--rigth {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2%;
}
header .nav__list--rigth a {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
}
header .nav__list--rigth a:hover {
  color: #c8a96a;
}
header .nav__list--rigth a:visited {
  color: #fff;
}
header .nav__list--rigth a:visited:hover {
  color: #c8a96a;
}
header .nav__list--rigth button {
  margin-left: 1.5rem;
  margin-right: 120px;
}
header .header__text {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 150px;
  margin-left: 10%;
}
header .header__text img {
  width: 9em;
  height: 9em;
  position: relative;
  top: -24px;
  left: -190px; /*pas responsive*/
}
header .header__text h1 {
  font-family: "Cinzel", serif;
  font-size: 7em;
  max-width: 25%;
  font-weight: 500;
  margin-bottom: 15px;
}
header .header__text .fa-circle-play {
  font-size: 1vw;
  margin-left: 425px;
  margin-top: 236px;
  margin-right: 5%;
}
header button {
  color: #fff;
  margin-left: 10%;
}

.gallerySection {
  margin: 0%;
}

.gallerySection {
  min-height: 150vh;
  text-align: center;
  align-items: center;
  position: relative;
  border: red solid;
  min-height: 65em;
}
.gallerySection__title {
  color: black;
  font-family: "Cinzel", serif;
  z-index: 2;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 4%;
  position: relative;
}
.gallerySection__stitle {
  color: black;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: relative;
}
.gallerySection__shadow {
  position: absolute;
  font-family: "Cinzel", serif;
  color: #faf6f0;
  font-size: 9.5rem;
  top: -7px;
  left: 0;
  z-index: -9999;
}
.gallerySection .gallery {
  margin: 0 5% 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallerySection .gallery--hover {
  display: none;
}
.gallerySection .gallery--hover:hover {
  display: flex;
}
.gallerySection .gallery img {
  width: calc(auto - 10px);
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .gallerySection .gallery img {
    width: 100%;
    margin: 10px 0;
  }
}

button {
  margin: 50px;
}

/* 
font-family: 'Cinzel', serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Open Sans', sans-serif;
*/
.blog {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.blog__title {
  color: black;
  font-family: "Cinzel", serif;
  z-index: 2;
  font-weight: 200;
  font-size: 2rem;
}
.blog__stitle {
  color: black;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: -7rem;
}
.blog__shadow {
  position: absolute;
  font-family: "Cinzel", serif;
  color: #faf6f0;
  font-size: 9.5rem;
  top: -8px;
  left: 0;
  z-index: 1;
}
.blog__cards {
  max-width: 80vw;
  max-height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.blog__cards__item {
  margin: 0;
  padding: 0;
  min-width: 50px;
  max-width: 25vw;
  min-height: 60vh;
  max-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #faf6f0;
  z-index: 2;
}
.blog__cards__item img {
  display: flex;
  justify-content: center;
  max-width: inherit;
  margin-top: -20px;
  padding: 0;
}
.blog__cards__item div {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.blog__cards__item div span {
  font-size: small;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
}
.blog__cards__item p {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 100;
  padding: 1rem;
  font-size: 1.2rem;
}
.blog__cards__item button {
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  gap: 0.7em;
  box-shadow: none;
  margin-left: 2rem;
  margin-bottom: 2rem;
  transition: 0.2s;
}
.blog__cards__item button:hover {
  background-color: #c8a96a;
  color: white;
}
.blog__cards__item button:hover i {
  color: white;
}
.blog__logos {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  min-width: 90vw;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10vh;
  flex-wrap: wrap;
}

@media (max-width: 781px) {
  .blog {
    min-height: 250vh;
    justify-content: center;
    gap: 10vh;
  }
  .blog__title {
    color: black;
  }
  .blog__stitle {
    margin-top: -4rem;
  }
  .blog__shadow {
    font-size: 9rem;
  }
  .blog__cards {
    flex-direction: column;
    min-height: 200vh;
  }
  .blog__cards__item {
    min-width: 50vw;
    max-width: 70vw;
    min-height: 50vh;
    max-height: 70vh;
  }
}
/* 
font-family: 'Cinzel', serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Open Sans', sans-serif;
*/
.footer {
  margin: 0;
  padding: 0;
  background-image: url(../assets/img/footer/img-ng-footer.jpg);
  max-width: 100vw;
  height: 90vh;
  background-size: 110%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  max-width: 20%;
  margin-top: 5vh;
}
.footer__ensemble {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  flex-wrap: wrap;
}
.footer__ensemble__newsletter {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
  align-items: center;
  gap: 1.2em;
}
.footer__ensemble__newsletter .ensemble__title {
  max-width: 20vw;
  color: white;
  align-self: flex-start;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.footer__ensemble__newsletter p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}
.footer__ensemble__newsletter .form {
  display: flex;
  flex-direction: row;
}
.footer__ensemble__newsletter .form input {
  max-width: 20vw;
  padding: 1rem;
  align-self: flex-start;
  margin: 0;
}
.footer__ensemble__newsletter .form button {
  max-width: 5vw;
  padding: 1rem;
  border-radius: 0;
  border-color: #c8a96a;
  background-color: #c8a96a;
}
.footer__ensemble__division {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  max-height: 30vh;
  align-items: center;
  gap: 1.2em;
}
.footer__ensemble__division .ensemble__title {
  max-width: 20vw;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.footer__ensemble__division .ensemble__list {
  max-width: 20vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.footer__ensemble__division .ensemble__list__item {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  display: flex;
  gap: 7px;
}
.footer__ensemble__division .ensemble__list__item img {
  max-width: 10px;
}
.footer__bar {
  display: flex;
  max-height: 10vh;
  max-width: 80vw;
  gap: 20vw;
  border-top: 1px solid rgba(250, 249, 249, 0.5);
  position: relative;
  padding-top: 10px;
}
.footer__bar__image {
  position: absolute;
  max-width: 5vw;
  bottom: 10%;
  left: 48%;
}
.footer__bar__text {
  font-size: 0.65rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.footer__bar__text a {
  text-decoration: none;
  color: #c8a96a;
  font-family: "Open Sans", sans-serif;
}
.footer__bar__links {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.footer__bar__links li a i {
  background-color: gray;
  padding: 7px;
  border-radius: 14px;
  color: white;
  transition: 0.3s;
}
.footer__bar__links li a i:hover {
  background-color: #c8a96a;
}

@media (max-width: 781px) {
  .footer {
    min-height: 200vh;
    max-width: 100vw;
  }
  .footer__ensemble {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    min-height: 160vh;
  }
  .footer__ensemble__newsletter .ensemble__title {
    font-size: 0.8rem;
  }
  .footer__ensemble__newsletter p {
    font-size: 0.65rem;
  }
  .footer__ensemble__newsletter .form input {
    max-width: 15vw;
    max-height: 5vw;
  }
  .footer__ensemble__newsletter .form button {
    max-width: 5vw;
    max-height: 10vh;
  }
  .footer__ensemble__division {
    max-width: 50px;
    max-height: 40px;
  }
  .footer__ensemble__division .ensemble__title {
    font-size: 0.8rem;
  }
  .footer__ensemble__division .ensemble__list__item {
    font-size: 0.65rem;
  }
}/*# sourceMappingURL=main.css.map */