beige-button {
    padding: 15px 25px; /*warning, different in the last section */
    background-color: $beige;
    border-radius: 5px;
    border: solid 1px transparent;
    color: $white;
    font-size: 0.7em;
    font-weight: 600;
    i {
        margin-left: 5px;
    }
    &:hover {
        background-color: transparent;
        border: solid 1px $typo-ligth-blakc;
        /*color: $color; -> can be different */
    }
    
  }

  transparent-button {
    padding: 15px 25px;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px rgb(48, 48, 48);
    color: $typo-ligth-blakc;
    font-size: 0.7em;
    font-weight: 600;
    i {
        margin-left: 5px;
    }
    &:hover {
        background-color: $beige;
        border: solid 1px transparent;
        color: $white;
    }
    
  }