.aboutUs {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-bottom: 100px;

    .logoQualityFoods {
        left: 150px;
        left: 458px;
        position: relative;
        top: -65px;
        @media (max-width: 1070px) {
            display: none;
        }

    }

    &__title {
        color: black;
        font-family: 'Cinzel', serif;
        z-index: 2;
        font-weight: 200;
        font-size: 2rem;
        margin-bottom: 0%;
        margin-top: 70px;
    }

    &__stitle {
        color: black;
        z-index: 2;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin: 0%;
    }

    &__shadow {
        position: absolute;
        font-family: 'Cinzel', serif;
        color: $ligth-beige;
        font-size: 9.5rem;
        left: 0;
        z-index: 1;
    }

    &__shadow {
        color: $beige;
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 11rem;
        z-index: 0;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: 300;
        @media (max-width: 767px) {
            font-size: 8rem;
        }
      
        @media (max-width: 479px) {
            font-size: 6rem;
        }
    }

    &__block {
        display: flex;
        flex-direction: row;
        margin: 0 15% 0 15%;

        &__right {
            display: flex;
            flex-direction: column;
            margin-left: 60px;
            text-align: justify;
            text-justify: inter-word;

            p {
                font-family: 'Cinzel', serif;
            }

            button {
                margin: auto;
            }
        }

        @media (max-width: 1070px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
              }

            &__right {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    button {
        @extend beige-button;

        a {
            text-decoration: none;
            color: inherit;

            &:visited {
                color: inherit;
            }
        }

        &:hover {
            color: black;
        }
    }
}
