@import '../utils/variables';

.footer {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/footer/img-ng-footer.jpg);
    max-width: 100vw;
    height: 95vh;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    &__logo {
        max-width: 20%;
        margin-top: 5vh;
    }

    &__ensemble {
        display: flex;
        flex-direction: row;
        gap: 5vw;

        &__division {
            display: flex;
            flex-direction: column;
            max-width: 20vw;

            .ensemble__title {
                max-width: 20vw;
                color: white;
            }

            .ensemble__list {
                max-width: 20vw;

                &__item {
                    color: white;
                }
            }
        }
    }

    &__bar {
        display: flex;
        max-height: 10vh;
        gap: 20vw;
        border-top: 3px, solid, white;

        &__image {
            position: absolute;
            max-width: 5vw;
        }

        &__text {
            font-size: 0.8rem;
            color: white;
        }

        &__links {
            display: flex;
        }
    }
}

