.gallerySection {
    margin: 0%;
}

.gallerySection {
    min-height: 150vh;
    text-align: center;
    align-items: center;
    position: relative;
    border: red solid;
    min-height:65em;

    &__title {
        color: black;
        font-family: 'Cinzel', serif;
        z-index: 2;
        font-weight: 200;
        font-size: 2rem;
        margin-top: 4%;
        position: relative;
    }

    &__stitle {
        color: black;
        z-index: 2;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        position: relative;
    }

    &__shadow {
        position: absolute;
        font-family: 'Cinzel', serif;
        color: $ligth-beige;
        font-size: 9.5rem;
        top: -7px;
        left: 0;
        z-index: -9999;
    }

    .gallery {
        margin: 0 5% 0 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &--hover{
            display: none;
        }

        &--hover:hover{
            display: flex;
        }
      
        img {
          width: calc(auto - 10px);
          margin: 10px;
          object-fit: cover;
        }
      
        @media (max-width: 768px) {
      
          img {
            width: 100%;
            margin: 10px 0;
          }
        }
      }
      }
    

    button {
        @extend transparent-button;
        margin: 50px;

    }



